<!DOCTYPE html>
<html>
<head>

<title>
My First WebPage | <%= title %></title>
<style>
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>

<h1>Good-Bye!!</h1>
<p>Fill in your Car number without spaces</p>


<div id="Parking form">
  <form action="/leave" method="POST">
    <label for="carNumber">Car Number (no spaces):</label>
    <input type="text" name ="carNumber" required>


    <button type="submit">Leave</button>

    </form>
</div>


</body>
</html>
