<!DOCTYPE html>
<html>
<head>

<title>
My First WebPage | <%= title %></title>
<style>
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>
<h1>Welcome!!</h1>
<p>Please Select if you are an owner or a customer</p>

<div id="Parking form">
  <button type="button" onclick="location.href='/owner';"> Owner </button>
    <button type="button" onclick="location.href='/customer';"> Customer </button>
</div>

</body>
</html>
