<!DOCTYPE html>
<html>
<head>

<title>
My First WebPage | <%= title %></title>
<style>
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>

<h1>Option 1</h1>
<p>Registration numbers of all cars of a particular colour</p>


<div id="Parking form">
  <form action="/option1" method="POST">
    <label for="carColor">Car color:</label>
    <input type="text" name ="carColor" required>


    <button type="submit">Option 1</button>

    </form>
</div>

<%- include('./partials/nav.ejs') %>

</body>
</html>
