<!DOCTYPE html>
<html>
<head>

<title>
My First WebPage | <%= title %></title>
<style>
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>

<h1>Option 2</h1>
<p>Slot number in which a car with a given registration number is parked</p>


<div id="Parking form">
  <form action="/option2" method="POST">
    <label for="carNumber">Car Number (No spaces):</label>
    <input type="text" name ="carNumber" required>


    <button type="submit">Option 2</button>

    </form>
</div>


</body>
</html>
